@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --spinner-width-small: 32px;
    --spinner-width-medium: 54px;
    --spinner-width-large: 100px;
    --color-black-site: 12 14 22;
    --color-violet-primary: 124 93 250;
    --color-violet-secondary: 146 119 255;
    --color-slate-primary: 30 33 57;
    --color-slate-secondary: 223 227 250;
    --color-gray-primary: 37 41 69;
    --color-gray-secondary: 126 136 195;
    --color-gray-tertiary: 136 142 176;
    --color-zinc-primary: 12 14 22;
    --color-zinc-secondary: 20 22 37;
    --color-red-primary: 236 87 87;
    --color-red-secondary: 255 151 151;
    --color-status-pending: 255 143 0;
    --color-status-paid: 51 214 159;
    --color-status-draft: 55 59 83;
    --color-background-light: 248 248 251;
    --color-background-dark: 20 22 37;
    /* ... */
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    margin-right: 40px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(var(--color-gray-secondary) / 0.4);
    border-radius: 100vw;
  }

  html[data-theme="light"] {
    background-color: rgb(var(--color-background-light));
    color: rgb(var(--color-black-site));
  }

  html[data-theme="dark"] {
    background-color: rgb(var(--color-background-dark));
  }

  input {
    @apply relative mt-2 px-5 block dark:bg-gray-primary w-full h-12 font-bold text-black-site dark:text-white rounded border border-slate-secondary dark:border-zinc-primary;
  }

  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .input-calendar {
    --calendar-uri: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0IDJoLS42NjdWLjY2N0EuNjY3LjY2NyAwIDAwMTIuNjY3IDBIMTJhLjY2Ny42NjcgMCAwMC0uNjY3LjY2N1YySDQuNjY3Vi42NjdBLjY2Ny42NjcgMCAwMDQgMGgtLjY2N2EuNjY3LjY2NyAwIDAwLS42NjYuNjY3VjJIMkMuODk3IDIgMCAyLjg5NyAwIDR2MTBjMCAxLjEwMy44OTcgMiAyIDJoMTJjMS4xMDMgMCAyLS44OTcgMi0yVjRjMC0xLjEwMy0uODk3LTItMi0yem0uNjY3IDEyYzAgLjM2Ny0uMy42NjctLjY2Ny42NjdIMkEuNjY4LjY2OCAwIDAxMS4zMzMgMTRWNi42OTNoMTMuMzM0VjE0eiIgZmlsbD0iIzdFODhDMyIgZmlsbC1ydWxlPSJub256ZXJvIiBvcGFjaXR5PSIuNSIvPjwvc3ZnPg==");

    @apply before:absolute before:top-0 before:left-0 before:content-[attr(data-date)] before:px-5 before:w-full before:h-full before:flex before:items-center before:bg-white dark:before:bg-gray-primary before:pointer-events-none after:absolute after:top-0
          after:right-0 after:[content:var(--calendar-uri)] after:z-50 after:px-5 after:w-full after:h-full after:flex after:items-center after:justify-end after:pointer-events-none;
  }

  .default-input {
    @apply relative mt-2 px-5 md:px-4 block w-full h-12 dark:bg-gray-primary font-bold text-black-site dark:text-white rounded border border-slate-secondary dark:border-zinc-primary;
  }

  .app-select {
    --arrow-down-uri: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSAxbDQuMjI4IDQuMjI4TDkuNDU2IDEiIHN0cm9rZT0iIzdDNURGQSIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=");
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: var(--arrow-down-uri);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
  }
}

@layer utilities {
  .white-loader {
    width: var(--spinner-width-small);
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #fff 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, #fff);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
  }
  .violet-loader {
    width: var(--spinner-width-small);
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, rgb(124 93 250) 94%, #0000) top/8px 8px
        no-repeat,
      conic-gradient(#0000 30%, rgb(124 93 250));
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13 {
    100% {
      transform: rotate(1turn);
    }
  }
}
